@mixin condicion($colorif) {
  color: $colorif;

  @if $colorif == nth($colores, 5) {
    &:hover {
      color: nth($colores, 3);
    }
  } @else {
    &:hover {
      color: nth($colores, 1);
    }
  }
}
