/* Variables Generales */
/*lista colores */
$colores: #ffffff, #f7d8b4, #ffd369, #edb870, #393e46;
/* MAps */
$textmaps: (
  titulo1: 4rem,
  titulo2: 3rem,
  titulo3: 2rem,
  titulo4: 1rem,
  titulo5: 0.75rem,
  parrafo1: 2rem,
  parrafo2: 1rem,
  parrafo3: 0.75rem,
);


